* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#home {
  background-image: url(https://cdn.checkyeti.com/images/original/Boat+trips+%28c%29+Shutterstock.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}